body {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

p {
    position: fixed;
    top: 0;
    left: 0;
}

div {
    position: relative;
    right: 130px;
}

input {
    width: 300px;
    height: 40px;
    font-size: 1.5rem;
    margin-top: 30px;
    position: relative;
    right: 50px;
}

.load {
    font-size: 1.5rem;
    right: 150px;
}

.loadlist {
    color: grey;
}